.contentContainer {
  // max-width: 1200px;
  // margin-left: 26rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.hero {
  // margin-top: 8.2rem;
  // margin-left: 9.25rem;
  position: absolute;
  // left: 0;
  width: 630px;
  height: 535px;
  left: 148px;
  top: 217px;

  > span {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--orange-100);

    
  }

  h1 {
    width: 630px;
    font-size: 5.25rem;
    line-height: 5.25rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: var(--blue-500);

    margin-top: 1.5rem;
  }

  > p {
    max-width: 28.125rem;
    font-family: 'Poppins', sans-serif;
    color: var(--blue-50);
    line-height: 1.875rem;
    margin-top: 1.875rem;
  }

  nav {
    margin-top: 2.1rem;
    display: flex;

    a {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 1.125rem;
      color: var(--white);
  
      background: var(--yellow-500);
      border-radius: 0.625rem;
      padding: 1.1rem;
    }
  
    button {
      margin-left: 2.75rem;
      border: none;
      background-color: #fff;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
    }
    
    p {
      color: #686D77;
      font-family: 'Poppins', sans-serif;
      font-size: 1.05rem;
      font-weight: 500;
      margin-left: 1.3rem;
    }
  }

  
  
}

.girl {
  margin-top: 1.125rem;
  // height: 500px;
  // width: 500px;
  z-index: -1;
  position: absolute;
  width: 783.87px;
  height: 764px;
  left: 565px;
  top: 105px;
}
