.container {
  position: absolute;
  width: 1165px;
  height: 356px;
  left: 186px;
  top: 3060px;
}

.footerBox {
  
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  
  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 66px;
    color: var(--blue-500);
  }

  p {
    margin-top: 19px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: var(--blue-50)
  }
  
} 

.secondColumn,
.thirdColumn,
.fourthColumn {
  h1 {
    font-family: 'Poppins', sans-serif;
    color: #080809;
    font-weight: 700;
    font-size: 21px;
  }

  a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--blue-50);
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    & + a {
      margin-top: -30px;
    }
  }

  

}