.container {
  position: absolute;
  width: 1228px;
  height: 617px;
  left: 173px;
  top: 2417px;
  display: flex;
}

.textSpan {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  color: var(--blue-50);
}

.description {
  margin-top: 15px;

  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-top: 15px;
    color: var(--blue-700);
    text-transform: capitalize;
  }

  .choose {
    margin-top: 31px;

    img {
      position: absolute;
    }

    h2 {
      font-size: 16px;
      font-weight: 700;
      font-family: 'Poppins', sans-serif;
      margin-left: 68px;
      color: var(--blue-50)
    }

    p {
      max-width: 327px;
      font-size: 16px;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
      color: var(--blue-50);
      margin-left: 68px;
    }
    
  }

  .make {
    margin-top: 31px;

    img {
      position: absolute;
    }

    h2 {
      font-size: 16px;
      font-weight: 700;
      font-family: 'Poppins', sans-serif;
      margin-left: 68px;
      color: var(--blue-50)
    }

    p {
      max-width: 327px;
      font-size: 16px;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
      color: var(--blue-50);
      margin-left: 68px;
    }
    
  }

  .reach {
    margin-top: 31px;

    img {
      position: absolute;
    }

    h2 {
      font-size: 16px;
      font-weight: 700;
      font-family: 'Poppins', sans-serif;
      margin-left: 68px;
      color: var(--blue-50)
    }

    p {
      max-width: 327px;
      font-size: 16px;
      font-weight: 400;
      font-family: 'Poppins', sans-serif;
      color: var(--blue-50);
      margin-left: 68px;
    }
    
  }
}

.shadow {
  z-index: -5;
  position: relative;
}